div.body {
  min-height: 100vh;
  width: 1280px;
  margin: 0 auto;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: var(--secondary-green);

  }
  
.home-content {
  width: 100%;
  text-align: center;
  min-height: 100vh;
}

.welcome-section {
  min-height: 50vh;
  margin: 0 auto;
  padding: 1.5rem;
  background-image: url('../../assets/images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
}

.welcome-section h2 {
  color: var(--primary-green);
  font-size: 2rem;
}

.welcome-section p {
  color: var(--secondary-green);
  font-size: 1.2rem;
  margin: 1rem 0;
}

.learn-more-btn {
  background-color: var(--primary-green);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
