:root {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-green: #72BF78;
  --secondary-green: #A0D683;
  --tertiary-green: #ceff9f;
  --light-green: #D3EE98;
  --accent-yellow: #FEFF9F;
  --background-color: #FFFFFF;
}

@font-face {
  font-family: 'anone';
  src: url('./assets/fonts/Product_Sans_Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr{
  border: 0.2px solid #0000001c;
}